/* Remove the navbar's default margin-bottom and rounded borders */ 
.header-bar {
    border-bottom: 5px solid rgb(80, 200, 120);
}
.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.category-text {
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.date {
    margin-top: 25px;
    margin-bottom: 10px;
}

.green {
  color: rgb(80, 200, 120);
}
.footprint {
    position: relative;
    top: 0;
    left: 0;
  }
  .average-footprint {
    position: relative;
    top: 0;
    left: 0;
  }
  .your-footprint {
    position: absolute;
    top: 4px;
    left: 5px;
    max-width: 68%;
  }

#navbar-example2 {
    margin-top: 25px;
}

.upload {
    margin-top: 10px;
}

.list-group {
    height: 250px;
}
.list-group-item {
    height: 50px;
    margin-bottom: 1px;
    border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}  

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {  
    border-radius: 50%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: rgb(80, 200, 120);
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;} 
}

.eco-score {
  /* border: 5px solid rgb(92, 33, 33); */
}

.myScroll {
  height:150px;
  overflow-y: scroll;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bottom {
  float: bottom;
}

.item-text {
  font-size: 20px;
}

.company-text {
  font-size: 12px;
}

.co2-col {
    border: 3px solid rgb(192,192,192);
}

.pkg-col {
    border: 3px solid rgb(100, 149, 237);
}

.waste-col{
    border: 3px solid rgb(255, 223, 0);
}

.waste-style {
  color: rgb(114, 79, 48);
  outline: 1px solid rgb(207, 152, 107);
  background-color: rgb(247, 234, 222);
  border-radius: 5px;
}

.pkg-style {
  color: rgb(54, 74, 104);
  border: 5px solid rgb(100, 149, 237);
  background-color: rgb(222, 232, 245);
  border-radius: 5px;
}

.co2-style {
  color: rgb(80, 80, 80);
  border: 5px solid rgb(194, 194, 194);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

body{
    font-family: 'Nunito', sans-serif;
  }
  .card{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }
  
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card h3{
    font-weight: 600;
  }
  
  .card-1{
    background-image: url(https://lh3.googleusercontent.com/proxy/4giP9B50sXiJEZMOn6LXidBHNKHUERD62f-MTXWjFdoihGbU10Jxo7MjiUZoxwIFm0r1VxKUmiBPrT3rIrWl5p5bqH_BXEYEr2pTa0NdgQlsQQ);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }
  
  .card-2{
    background-image: url(https://lh3.googleusercontent.com/proxy/yP45gB0R8rPbjSb_YZc1z0pjQrhdgrJnXRLkrhsLR8oDnwU62RKFaBRvcwp9ErJww6EiA7LztfzU_ZOxeiTQbJHDspzSuc5WvlmWeTxHQZQEtzG2QGP1q41reXG3g4qiAk75-Bpuhw3D2uTR1p3wGj42Um7n3gmFrJk2-7zoHTfWlw6DNTFeRje6QNl3Q9NiYcBuBQ);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }
  
  .card-3{
    background-image: url(https://i.pinimg.com/originals/d2/55/e0/d255e0fc17334b08d22248515e5476a0.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }
  
  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  } 

  /* myTooltip container */
.myTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* myTooltip text */
.myTooltip .myTooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the myTooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in myTooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* myTooltip arrow */
.myTooltip .myTooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the myTooltip text when you mouse over the myTooltip container */
.myTooltip:hover .myTooltiptext {
  visibility: visible;
  opacity: 1;
}
